<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.UserMapper">

    <select id="findAllUserByPage" parameterType="userVo" resultType="user">
       select * from user where name = #{username}
<!--        <where>-->
<!--            <if test="true">-->
<!--                and is_del !=1-->
<!--            </if>-->
<!--            <if test="username !=null and username !=''">-->
<!--                and name = #{username}-->
<!--            </if>-->
<!--            <if test="startCreateTime !=null and endCreateTime !=null">-->

<!--                and create_time BETWEEN #{startCreateTime} AND #{endCreateTime};-->
<!--            </if>-->
<!--        </where>-->

    </select>



    <!--登录方法，根据手机号查询用户信息-->
    <select id="login" parameterType="user" resultType="user">
        select * from user where phone = #{phone}
    </select>



    <!--根据用户id删除用户表与角色表的关联关系  public void deleteUserContextRole(Integer id);-->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id = #{userid}
    </delete>

    <!--为用户分配角色      public void UserContextRole(User_Role_relation user_role_relation);
-->
    <insert id="UserContextRole" parameterType="user_role_relation">
        insert into user_role_relation values (null,#{userId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>


    <!--根据用户id查询其拥有的角色-->
    <select id="findUserRelationRoleById"  resultType="role" parameterType="int">
        SELECT * FROM roles r INNER JOIN user_role_relation  ur ON r.`id` = ur.`role_id` WHERE ur.`user_id` = #{id}

    </select>



    <!--根据角色id查询其所拥有的父子级菜单信息-->
    <resultMap id="subMenuList" type="userVo">
        <result column="menu_id" property="menuId"></result>
        <result column="name" property="name"></result>
        <collection property="menuList" ofType="userVo" column="menu_id" select="com.lagou.dao.MenuMapper.findSubMenuListByPid"></collection>
    </resultMap>
    <select id="findSubMenuByRoleId" resultMap="subMenuList" parameterType="java.util.List">
            SELECT DISTINCT
              rm.menu_id,
              m.name
            FROM
              role_menu_relation rm
              INNER JOIN menu m
                ON m.id = rm.menu_id
            WHERE parent_id = - 1 AND rm.role_id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
    <!--根据角色id查询其所拥有的资源信息-->
    <select id="findResourceByRoleId" resultType="resource" parameterType="java.util.List">
                    SELECT
              DISTINCT r.*
            FROM
              resource r
              INNER JOIN role_resource_relation rr
                ON r.`id` = rr.`resource_id`
              INNER JOIN roles ro
                ON ro.`id` = rr.`role_id`
            WHERE ro.`id` IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
</mapper>